:root {
  --primary-color: #cc6600;
  --secondary-color: #ff9900;
  --tertiary-color: #aaaaaa;
  --white-color: #ffffff;
  --correct-color: #6b8e23;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  width: 60%;
  margin: 0 auto;
}
h1 {
  color: rgb(104, 134, 189);
  font-size: 36px;
  font-weight: bold;
}

h2,
p {
  color: rgb(166, 91, 127);
  font-size: 20px;
  font-weight: bold;
}

#s #start-container {
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 25px 0;
}

.hide {
  display: none;
}

.btn {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
}

#question-container {
  padding: 50px;
}
